[Adoptium]
name=Adoptium
baseurl=https://packages.adoptium.net/artifactory/rpm/{{ ansible_distribution | lower }}/{{ ansible_distribution_major_version }}/{{ ansible_architecture }}
enabled=1
gpgcheck=1
gpgkey=https://packages.adoptium.net/artifactory/api/gpg/key/public